*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a{
    text-decoration: none;
    font-size: 20px;
    color:#fff ;

}
  .phone-nav{
    display: none;
}

.bloghome{
    padding: 120px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid inherit ;
    color: #212529;
}
.bloghome p{
    font-size: 20px;
}


@media (max-width:576px){
    header{
        display:none;
    }
    .phone-nav{
        display: block;
    }
   
} 